<section class="page-section-ptb" style="padding: 5px 50px 75px 100px !important;">
 <div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4">
       <div class="section-title mb-20" style="color:white;">
          <h6 style="color:white;">What we do? </h6>
          <h2 style="color:white;">We do things differently</h2>
          <p style="color:white;">This template is designed for all types of businesses such as Corporate, Business, Portfolio, Creative, more…</p>
        </div>
        <p style="color:white;">Precision design, responsive ready, full shortcodes design, <span class="theme-color" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">perfect portfolio,</span> unique blog layout and many many options for you so grab Webster as soon feature.</p>
    </div>
    <div class="col-lg-7 col-md-7 col-md-offset-1 sm-mt-40">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon mb-40">
              <div class="feature-icon">
              <span class="ti-html5 theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 style="color:white;">Built with HTML5</h5>
                 <p style="color:white;">We bring you an awesomeness of design, creative skills, thoughts, and ideas</p>
                 <a class="button icon-color mt-10" href="#">Read More <i class="fa fa-angle-right"></i></a>
             </div>
           </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon mb-40">
              <div class="feature-icon">
              <span class="ti-desktop theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 style="color:white;">Pixel perfect design</h5>
                 <p style="color:white;">Positive pleasure-oriented goals are much more powerful motivators than negative</p>
                 <a class="button icon-color mt-10" href="#">Read More <i class="fa fa-angle-right"></i></a>
             </div>
           </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon xs-mb-40">
              <div class="feature-icon">
              <span class="ti-headphone theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 style="color:white;">24/7 support</h5>
                 <p style="color:white;">I truly believe Augustine’s words are true and if you look at history you know it is true.</p>
                 <a class="button icon-color mt-10" href="#">Read More <i class="fa fa-angle-right"></i></a>
             </div>
           </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-text left-icon">
              <div class="feature-icon">
              <span class="ti-panel theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 style="color:white;">Easy to Customize</h5>
                 <p style="color:white;">We also know those epic stories, those modern-day legends surrounding the early</p>
                 <a class="button icon-color mt-10" href="#">Read More <i class="fa fa-angle-right"></i></a>
             </div>
           </div>
          </div>
        </div>
    </div>
  </div>
 </div>
</section>
